.Dimension {

}

.active{
    height: 14.464285850524902px;
width: 218.3333282470703px;
left: 800.522216796875px;
top: 136.24996948242188px;
border-radius: 3px;
background: #A920CB;
}

.inactive{
    height: 14.464285850524902px;
width: 218.3333282470703px;
left: 800.522216796875px;
top: 136.24996948242188px;
border-radius: 3px;
background: #E9ECEF;
}